.appComponentMainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    app-navbar{
        max-height: 64px;
    }
    .appComponentContentContainer{
        flex: 1;
    }

    app-footer{
        margin-top: auto;
        max-height: 64px;
    }
}